<!DOCTYPE html>
<html>
<head>
	<title>CREATOR</title>
	<%= stylesheet_link_tag "car.css" %>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
</head>
<body class="homebg" style="margin: 0;">
	<nav class="navbar1" class="navbar2" class="navbar3">
		<div class="navbar3">
			<%= link_to "Home", car_logs_home_path, class:'navtext'=%>
			 <%= link_to "Register", car_logs_new_path, class:'navtext'
			 =%>
			<%= link_to "View Log", car_logs_show_path, class:'navtext'=%>

		</div>
	</nav>
	<img style="float: left; width: 470px; height: auto;"  alt="Me" src="/space/oof.jpg">
	<h1 class="header">Julianne Dorothee S. Navarrete</h1>
	
	<div>
		<p class="link" style="text-align: center;">
			Hi I'm Julianne but you can call me Juls! I am 19 years old and I enjoy watching movies and reading books. I'm also a junior taking up BS Management Information Systems in Ateneo. I have an obsession with cats and memes! yeet 

			I hope you find my website useful! if not then #oof
		</p>
	</div>

</body>
</html>