<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<%= stylesheet_link_tag "car.css" %>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
</head>
<% unless flash.empty? %>
  <div id="notice" class="link">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>
<% end %>

<body class="homebg" style="margin: 0; text-align: center;">
	<nav class="navbar1" class="navbar2" class="navbar3">
		<div class="navbar3">
			 <%= link_to "About", car_logs_creator_path, class:'navtext'
			 =%>
		</div>
   
	</nav>
		<img class="center"  alt="Jupiter" src="/space/jupiter.gif">
		<h1 class="header" class="center">Welcome to Planet Parking</h1>

		<div class="center"> 
			<%= link_to "Register Car", car_logs_new_path, class: 'button'=%>
		</div>
		<div class="center">
			<%= link_to "View Log", car_logs_show_path, class:'button'=%>
		</div>

		
     

</body>
</html>