<!DOCTYPE html>
<html>
<head>
	<title>NEW CAR</title>
	<%= stylesheet_link_tag "car.css" %>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
</head>
<body class="homebg" style="margin: 0">
	<nav class="navbar1" class="navbar2" class="navbar3">
		<div class="navbar3">
			<%= link_to "Home", car_logs_home_path, class:'navtext'=%>
			 <%= link_to "About", car_logs_creator_path, class:'navtext'
			 =%>
			<%= link_to "View Log", car_logs_show_path, class:'navtext'=%>

		</div>
   
	</nav>
	<img style="float: left;"  alt="Register" src="/space/register.jpg">
	<br>
	<br>
	
		<h1 class="header" class="center" style="display: inline; text-align:center; width:37%;float: right;">Register Car</h1>
	
	
	<% if @CarLog.errors.any? %>
	<h2 class="error">Errors:</h2>
	<ul class="error">
		<% @CarLog.errors.full_messages.each do | msg| %>
		<%= msg %>
		<% end %>
	</ul>
	<% end %>
<div class="center" style="display: inline-block;width: 37%;text-align: center;">
	<%= form_for @CarLog do |s| %>
	<p class="link" >
		<%= s.label :time_in_ %>
		<%= s.time_select :time_in %>
	</p>

	<p class="link">
		<%= s.label :time_out %>
		<%= s.time_select :time_out %>
	</p>
<div class="link"> 
	<p class="link">
		<%= s.label :plate_number %>
		<%= s.text_field :plate_number %>
	</p>
	</div>

		<p class="link">
		<%= s.label :color %>
		<%= s.select(:color, [['Red'],['Silver'],['Yellow'],['Blue'],['Black'],['White']]) %>
		</p>
		<p class="link">
		<%= s.label :brand %>
		<%= s.select(:brand, [['Honda'],['Toyota'],['BMW'],['Ford'],['Mercedes'],['Ferrari'],['Hyundai'],['Porsche']]) %>
		</p>

	<p class="link">
		<%= s.submit %>
	</p>
</div>

	<% end %>

</body>
</html>