<!DOCTYPE html>
<html>
<head>
	<title>CAR LOG</title>
	<%= stylesheet_link_tag "car.css" %>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra+Petch">
</head>
<body class="homebg" style="margin: 0;">
	<nav class="navbar1" class="navbar2" class="navbar3">
		<div class="navbar3">
			<%= link_to "Home", car_logs_home_path, class:'navtext'=%>
			 <%= link_to "About", car_logs_creator_path, class:'navtext'
			 =%>
			<%= link_to "Register", car_logs_new_path, class:'navtext'=%>
		</div>
   
	</nav>
	<img style="float: right;height: auto; text-align: right; display: inline;"  alt="Log" src="/space/log.jpg">
	<div  style="display:block;width: 33%;text-align: center;">
		<br>
		<br>
		<h1 class="header">Car Registered!</h1> 
	
	<p class="link">
	TIME IN:  <%= @CarLog.time_in %>
	</p>
	<p class="link">
	TIME OUT:  <%= @CarLog.time_out %>
	</p>
	<p class="link">
	PLATE NUMBER:  <%= @CarLog.plate_number %>
	</p>
	<p class="link">
	COLOR:   <%= @CarLog.color %>
	</p>
	<p class="link">
	BRAND:   <%= @CarLog.brand %>
	</p>
	</div>
	
	

	

		


</body>
</html>