.navbar1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDDDC0;
    background:rgba(253, 221, 192,0.7);
   
   
}

.navbar2 {
    float: left;
    
}

.navbar3 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

.navtext{
	font-family: Chakra Petch;
	text-decoration: none;
	color: white;
	border-right: 3px solid #FDDDC0;
}


.homebg{
	background-color: #5E2329
}

.button{
	background-color: #FDDDC0; 
	background-color:rgba(253, 221, 192,0.7);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Chakra Petch;
}

.header{
	font-family: Chakra Petch;
	font-weight: bold;
	text-align: center;
	color: white;
	font-size:100;

}


.center {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

} 
.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.link{
	text-decoration: none;
	color: white;
	font-family: Chakra Petch;
	font-size: 30px;
}
.error{
	text-decoration: none;
	color: white;
	font-family: Chakra Petch;
	font-size: 20px;
}